@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

html {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
		'Roboto', sans-serif;
	box-sizing: border-box;
	font-weight: 300;
	background-color: #fbcf4a;
}

body {
	margin: 0;
}

* {
	box-sizing: inherit;
}

